/video/상현
/video/5-6_Clips
/video/9-10_Clips
/video/11-12_Clips
/video/13-14_Clips
/video/Clips_vehicle
/video/Detected
/video/New
/plan
/video
/output
/DataSet
/temp
/test_images
/plan_result
/detected_images
/tracking_result